# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab

[{*.js,*.yml,*.md,Gopkg.toml,package.json,*.html,Dockerfile.*}]
indent_style = space
indent_size = 2

[*.py]
indent_style = space
indent_size = 4
