# Copyright 2020-2022 - Offen Authors <hioffen@posteo.de>
# SPDX-License-Identifier: Apache-2.0

node_modules/
dist/
bin/
bundle.*

package-lock.json
!*/package-lock.json


integration/cypress/screenshots
integration/cypress/videos

dependencies.csv

*.deb
*.tab
*.tar.gz
*.db
*.log

.jekyll-cache
docs-site

