{{ define "layout" }}
  <!DOCTYPE html>
  <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {{ block "title" . }}
          <title>{{ __ "Offen" }}</title>
        {{ end }}
        {{ block "head" . }}
          <link rel="stylesheet" type="text/css" href="/tachyons.min.css">
          <link rel="stylesheet" type="text/css" href="/fonts.css">
          <link rel="preload" href="/fonts/roboto-v20-latin-regular.woff2" as="font">
          <link rel="preload" href="/fonts/roboto-v20-latin-700.woff2" as="font">
          {{ with .rootAccount }}
            <script src="/script.js" data-account-id="{{ . }}"></script>
          {{ end }}
        {{ end }}
    </head>
    <body class="bg-washed-yellow">
      <div class="mw8 center pa3 pb5 f5 roboto dark-gray">
        <h1 class="f2 normal mt0 mb4">
          {{ block "headline" . }}
            {{ __ "Welcome to <strong>offen</strong> web analytics" }}
          {{ end }}
        </h1>
        {{ block "content" . }}
        {{ end }}
      </div>
    </body>
  </html>
{{ end }}
