version: 2.1

jobs:
  server:
    docker:
      - image: circleci/golang:1.14
    working_directory: ~/offen/server
    steps:
      - checkout:
          path: ~/offen
      - restore_cache:
          key: offen-server-{{ checksum "go.mod" }}
      - run:
          name: Download modules
          command: go mod download
      - save_cache:
          paths:
            - /go/pkg/mod
          key: offen-server-{{ checksum "go.mod" }}
      - run:
          name: Run tests
          command: make test

  vault:
    docker:
      - image: circleci/node:14-browsers
    working_directory: ~/offen/vault
    steps:
      - test_node_app:
          app: vault

  script:
    docker:
      - image: circleci/node:14-browsers
    working_directory: ~/offen/script
    steps:
      - test_node_app:
          app: script

  auditorium:
    docker:
      - image: circleci/node:14-browsers
    working_directory: ~/offen/auditorium
    steps:
      - test_node_app:
          app: auditorium

  packages:
    docker:
      - image: circleci/node:14-browsers
    working_directory: ~/offen/packages
    steps:
      - test_node_app:
          app: packages

  build:
    docker:
      - image: circleci/python:3.7
    working_directory: ~/offen
    environment:
      DOCKER_LOGIN: offen
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build binaries
          command: |
            if [ -z "$CIRCLE_TAG" ] && [ "${CIRCLE_BRANCH}" != "development" ] && [ "${CIRCLE_BRANCH}" != "master" ]; then
              make build
            else
              TARGETS=linux/amd64,windows/amd64 make build
              # Darwin builds cannot be statically linked right now
              # so we override the default LDFLAGS value
              TARGETS=darwin/amd64 LDFLAGS='' make build
            fi
      - persist_to_workspace:
          root: ~/offen
          paths:
            - bin/*

  integration:
    docker:
      - image: circleci/node:14-browsers
        environment:
          CYPRESS_BASE_URL: http://localhost:3000
          CYPRESS_OPERATOR_USERNAME: circle@offen.dev
          CYPRESS_OPERATOR_PASSWORD: secret
          CYPRESS_ACCOUNT_ID: 9b63c4d8-65c0-438c-9d30-cc4b01173393
          CYPRESS_RUN_LIGHTHOUSE_AUDIT: 1
          OFFEN_SERVER_PORT: 3000
          OFFEN_DATABASE_DIALECT: postgres
          OFFEN_DATABASE_CONNECTIONSTRING: postgres://circle:test@localhost:5432/circle_test?sslmode=disable
      - image: circleci/postgres:11.2-alpine
        environment:
          POSTGRES_USER: circle
          POSTGRES_PASSWORD: test
    working_directory: ~/offen
    steps:
      - checkout
      - attach_workspace:
          at: ~/offen
      - wait_for:
          service: Postgres
          port: 5432
      - run:
          name: Setup application
          command: |
            cp ./bin/offen-linux-amd64 ./offen
            touch offen.env
            ./offen setup -email $CYPRESS_OPERATOR_USERNAME -name circle -password $CYPRESS_OPERATOR_PASSWORD -populate -forceid $CYPRESS_ACCOUNT_ID
      - run:
          name: Serve application
          command:  ./offen
          background: true
      - wait_for:
          service: Offen
          port: 3000
      - restore_cache:
          key: offen-integration-cy4.5.0-{{ checksum "./integration/package.json" }}
      - run:
          name: Install cypress and dependencies
          working_directory: ~/offen/integration
          command: |
            mkdir -p ~/.npm-global
            npm config set prefix '~/.npm-global'
            npm install cypress@4.5.0 -g
            npm ci
            echo 'export PATH=~/.npm-global/bin/:$PATH' >> $BASH_ENV
      - save_cache:
          paths:
            - ~/offen/integration/node_modules
            - ~/.cache/Cypress
            - ~/.npm-global
          key: offen-integration-cy4.5.0-{{ checksum "./integration/package.json" }}-{{ epoch }}
      - run:
          working_directory: ~/offen/integration
          name: Run integration tests
          command: npm t
      - store_artifacts:
          path: ~/offen/integration/cypress/screenshots

  release:
    docker:
      - image: circleci/python:3.7
    working_directory: ~/offen
    environment:
      DOCKER_LOGIN: offen
    steps:
      - checkout
      - setup_remote_docker
      - aws-cli/install
      - attach_workspace:
          at: ~/offen
      - run:
          name: Set build environment
          command: |
            if [ -z "$CIRCLE_TAG" ]; then
              echo 'export OFFEN_GIT_REVISION=$(git rev-parse --short HEAD)' >> $BASH_ENV
              if [ "${CIRCLE_BRANCH}" == "master" ]; then
                echo 'export DOCKER_IMAGE_TAG="stable"' >> $BASH_ENV
              else
                echo 'export DOCKER_IMAGE_TAG="latest"' >> $BASH_ENV
              fi
            else
              echo 'export OFFEN_GIT_REVISION=$CIRCLE_TAG' >> $BASH_ENV
              echo 'export DOCKER_IMAGE_TAG=$CIRCLE_TAG' >> $BASH_ENV
            fi
      - run:
          name: Build Docker image
          command: |
            make build-docker
      - run:
          name: Download and import signing key
          command: |
            aws s3 cp s3://offen-secrets/signing-key.asc /tmp
            gpg --import /tmp/signing-key.asc
      - run:
          name: Package tarball
          working_directory: ~/offen/bin
          command: |
            for artifact in $(ls); do
              gpg --armor --detach-sign $artifact
            done

            md5sum * > checksums.txt

            cp ~/offen/{LICENSE,NOTICE,README.md} .

            mkdir -p /tmp/artifacts
            tar -czvf /tmp/artifacts/offen-$DOCKER_IMAGE_TAG.tar.gz $(ls -A)
      - run:
          name: Upload to S3
          command: aws s3 cp /tmp/artifacts/offen-$DOCKER_IMAGE_TAG.tar.gz s3://offen/binaries/offen-$DOCKER_IMAGE_TAG.tar.gz
      - docker/install-docker-credential-helper
      - docker/configure-docker-credentials-store
      - run:
          name: Push offen/offen to Docker Hub
          command: |
            echo "$DOCKER_ACCESSTOKEN" | docker login --username $DOCKER_LOGIN --password-stdin
            docker push offen/offen:$DOCKER_IMAGE_TAG
      - store_artifacts:
          path: /tmp/artifacts

workflows:
  version: 2
  test_build_push:
    jobs:
      - server: &all_tags_filter
          filters:
            tags:
              only: /.*/
      - vault:
          <<: *all_tags_filter
      - script:
          <<: *all_tags_filter
      - auditorium:
          <<: *all_tags_filter
      - packages:
          <<: *all_tags_filter
      - build:
          <<: *all_tags_filter
      - integration:
          <<: *all_tags_filter
          requires:
            - build
      - release:
          requires:
            - server
            - vault
            - script
            - auditorium
            - packages
            - integration
            - build
          filters:
            tags:
              only: /^v.*/ # tagged release from master branch
            branches:
              only:
                - development
                - master

commands:
  wait_for:
    description: Wait for a service on a port to be ready
    parameters:
      service:
        type: string
        default: service
      port:
        type: integer
    steps:
      - run:
          name: Waiting for << parameters.service >> to be ready
          command: |
            for i in `seq 1 10`;
            do
              nc -z localhost << parameters.port >> && echo Success && exit 0
              echo -n .
              sleep 1
            done
            echo Failed waiting for << parameters.service >> && exit 1
  test_node_app:
    description: Run unit tests for a Node.js based subapp
    parameters:
      app:
        type: string
      checkout:
        type: string
        default: ~/offen
    steps:
      - checkout:
          path: << parameters.checkout >>
      - restore_cache:
          key: offen-<< parameters.app >>-{{ checksum "package.json" }}
      - run:
          name: Install dependencies
          command: npm ci
      - save_cache:
          paths:
            - ~/offen/<< parameters.app >>/node_modules
          key: offen-<< parameters.app >>-{{ checksum "package.json" }}
      - run:
          name: Run tests
          command: npm test

orbs:
  aws-cli: circleci/aws-cli@1.0.0
  docker: circleci/docker@1.0.1
