<link rel="preload" href="/assets/fonts/roboto-v20-latin-regular.woff2" as="font">
<link rel="preload" href="/assets/fonts/roboto-v20-latin-700.woff2" as="font">
<style type="text/css">
/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('/assets/fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('/assets/fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/assets/fonts/roboto-v20-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/assets/fonts/roboto-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
}
</style>
