/**
 * Copyright 2020 - Offen Authors <hioffen@posteo.de>
 * SPDX-License-Identifier: Apache-2.0
 */

.dim:focus {
  transition: none;
  opacity: 1;
}

[role="button"]:focus {
  outline: rgba(0,0,0,.2) dotted 1px;
}
