/**
 * Copyright 2020 - Offen Authors <hioffen@posteo.de>
 * SPDX-License-Identifier: Apache-2.0
 */

.ma-1 {
  margin: -0.5em;
}
.ma-2 {
  margin: -1em;
}
.ma-3 {
  margin: -2em;
}
.ma-4 {
  margin: -4em;
}
