/**
 * Copyright 2020 - Offen Authors <hioffen@posteo.de>
 * SPDX-License-Identifier: Apache-2.0
 */

/*
  WORD BREAK
  This is not included in Tachyons https://github.com/tachyons-css/tachyons/pull/644
  but available as a module: https://github.com/tachyons-css/tachyons-word-break
*/
.word-normal { word-break: normal; }
.word-wrap { word-break: break-all; }
.word-nowrap { word-break: keep-all; }
@media screen and (min-width: 30em) {
 .word-normal-ns { word-break: normal; }
 .word-wrap-ns { word-break: break-all; }
 .word-nowrap-ns { word-break: keep-all; }
}
@media screen and (min-width: 30em) and (max-width: 60em) {
 .word-normal-m { word-break: normal; }
 .word-wrap-m { word-break: break-all; }
 .word-nowrap-m { word-break: keep-all; }
}
@media screen and (min-width: 60em) {
 .word-normal-l { word-break: normal; }
 .word-wrap-l { word-break: break-all; }
 .word-nowrap-l { word-break: keep-all; }
}
