<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="{{ page.description }}">
  <meta property="og:site_name" content="{{ SITENAME }}">
  <meta property="og:locale" content="{{ DEFAULT_LANG }}">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ SITEURL }}/{{ page.save_as }}">
  <meta property="og:image" content="{{ SITEURL }}/theme/images/offen-logo-social-media.jpg">
  <meta name="twitter:image:alt" content="offen logo">
  <meta name="twitter:card" content="summary_large_image">
  <link rel="canonical" href="{{ SITEURL }}/{{ page.save_as }}">
  <link rel="shortcut icon" type="image/x-icon" href="/theme/images/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/theme/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/theme/css/fonts.css">
  <link rel="stylesheet" type="text/css" href="/theme/styles/index.css">
  <!--
  <link rel="stylesheet" type="text/css" href="/theme/css/style.css">
  -->
  {% if OFFEN_ACCOUNT_ID %}
    <script async src="https://script-alpha.offen.dev/script.js" data-account-id="{{ OFFEN_ACCOUNT_ID }}"></script>
  {% endif %}
</head>
<body>

  <div class="menu">
    <section class="nav-bar">
      <div class="nav-container">
        {% if page.href == "/" %}
        <div class="brand-index">
        {% else %}
        <div class="brand">
        {% endif %}
          <a href="/"><img src="/theme/images/offen-brand-white.svg" alt="offen logo" width="42" height="46" class="logo"></a>
        </div>
        <nav>
          <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
          <ul class="nav-list">
            <li>
              <a href="/">Summary</a>
            </li>
            <li>
              <a href="/deep-dive/">Deep dive</a>
            </li>
            <li>
              <a href="/status/">Status</a>
            </li>
            <li>
              <a href="#">Auditorium</a>
              <ul class="nav-dropdown">
                <li>
                  <a href="/auditorium/operator/">for Operators</a>
                </li>
                <li>
                  <a href="/auditorium/user/">for Users</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="mailto:{{CONTACT_EMAIL}}">Contact</a>
            </li>
            <li>
              <a href="{{GITHUB_ORG}}" target="_blank">Get involved</a>
            </li>
            <li>
              <a href="{{PATREON_URL}}" target="_blank">Support Us</a>
            </li>
          </ul>
        </nav>
      </div>
    </section>
  </div>

  {% if page.href == "/" %}
    <div class="intro">
      <div class="container-reader">
        <div class="bg" id="bg-intro">
          <div class="sign">
            <img src="/theme/images/offen-sign-brand-white.svg" alt="offen logo" width="152" height="94">
          </div>
          <h1>
            Transparent web analytics for operators and users
          </h1>
          <p>
            <strong>offen</strong> is a free and open source analytics software for websites and web applications that allows respectful handling of data.
          </p>
          <div class="btn-wrapper">
            <a class="btn btn-color-black" href="{{GITHUB_ORG}}" target="_blank">Get involved</a>
          </div>
        </div>
      </div>
    </div>

    <div class="feature">
      <div class="container-full">
        <div class="card-deck">
          <div class="card">
            <div class="bg" id="bg-feature-a">
              <h2>
                Free & Open Source
              </h2>
              <p>
                Anyone can audit our code to verify it works as intended. <strong>offen</strong> will always be available free of charge.
              </p>
            </div>
          </div>
          <div class="card">
            <div class="bg" id="bg-feature-b">
              <h2>
                Fair & Secure
              </h2>
              <p>
                Pay respect to your website visitors and gain insights as a user at the same time. All data is encrypted end-to-end.
              </p>
            </div>
          </div>
          <div class="card">
            <div class="bg" id="bg-feature-c">
              <h2>
                Easy to use
              </h2>
              <p>
                Simply paste our code into the source of your website. Users can visit the auditorium to access their data.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="cta-top">
      <div class="container-full">
        <div class="card-deck">
          <div class="card">
            <div class="bg" id="bg-cta-top">
              <h2>
                Build in progress
              </h2>
              <p>
                What is already up and running and where we want to go.
              </p>
              <div class="btn-wrapper">
                <a class="btn btn-color-white" href="/status/">Project status</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {% if page.href == "/" %}
    <div class="content-index">
  {% else %}
    <div class="content">
  {% endif %}
  {% if page.href == "/auditorium/operator/" or page.href == "/auditorium/user/" %}
      <div class="container-full">
  {% else %}
      <div class="container-reader">
  {% endif %}
      {% block content %}{% endblock %}
      </div>
  </div>

  {% if page.href != "/" %}
  <div class="cta-bottom">
    <div class="container-full">
      <div class="card-deck">

        <div class="card">
          <div class="bg" id="bg-cta-bottom">
            <h2>
              Transparent web analytics
            </h2>
            <p>
              <strong>offen</strong> is a free and open source analytics software for websites and web applications that allows respectful handling of data.
            </p>
            <div class="btn-wrapper">
              <a class="btn btn-color-black" href="{{GITHUB_ORG}}">Get involved</a>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="bg" id="bg-cta-bottom">
            <h2>
              Build in progress
            </h2>
            <p>
              What is already up and running and where we want to go.
            </p>
            <div class="btn-wrapper">
              <a class="btn btn-color-black" href="/status/">Project status</a>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="bg" id="bg-cta-bottom">
            <h2>
              Charitable purpose
            </h2>
            <p>
              We're working hard to ensure that <strong>offen</strong> is independent, cutting-edge and can be sustained for years to come.
            </p>
            <div class="btn-wrapper">
              <a class="btn btn-color-black" href="{{PATREON_URL}}">Support us</a>
            </div>
          </div>
        </div>



      </div>
    </div>
  </div>
  {% else %}
  <div class="outro">
    <div class="container-full">
      <div class="card-deck">
        <div class="card">
          <div class="bg" id="bg-outro">
            <h2>
              Charitable purpose
            </h2>
            <p>
              We're working hard to ensure that <strong>offen</strong> is independent, cutting-edge and can be sustained for years to come.
            </p>
            <div class="btn-wrapper">
              <a class="btn btn-color-black" href="{{PATREON_URL}}">Support us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}

  <div class="footer">
    <div class="footer-card-deck">
      <div class="footer-card">
        <h3><strong>offen</strong></h3>
        <h4>Transparent web analytics</h4>
        <h4>for everyone</h4>
      </div>
      <div class="footer-card">
        <p>
          <a href="#">Contact</a>
        </p>
        <p>
          <a href="#">Our data policy</a>
        </p>
        <p>
          <a href="#">Privacy</a>
        </p>
      </div>
      <div class="footer-card">
        August 2019
      </div>
    </div>
  </div>
  <script src="/theme/scripts/jquery-3.4.1.min.js"></script>
  <script src="/theme/scripts/menu.js"></script>
  <script src="/theme/scripts/fade.js"></script>

</body>
</html>
