<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="{{ page.description }}">
  <meta property="og:site_name" content="{{ SITENAME }}">
  <meta property="og:locale" content="{{ DEFAULT_LANG }}">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ page.description }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ SITEURL }}/{{ page.save_as }}">
  <meta property="og:image" content="{{ SITEURL }}/theme/images/offen-logo-social-media.jpg">
  <meta name="twitter:image:alt" content="offen logo">
  <meta name="twitter:card" content="summary_large_image">
  <link rel="canonical" href="{{ SITEURL }}/{{ page.save_as }}">
  <link rel="shortcut icon" type="image/x-icon" href="/theme/images/favicon.ico">
  <link rel="stylesheet" type="text/css" href="/theme/css/fonts.css">
  <link rel="stylesheet" type="text/css" href="/theme/styles/index.css">
  <link rel="stylesheet" type="text/css" href="/theme/css/style.css">
  {% if OFFEN_ACCOUNT_ID %}
    <script async src="https://script-alpha.offen.dev/script.js" data-account-id="{{ OFFEN_ACCOUNT_ID }}"></script>
  {% endif %}
</head>
<body>

  <div class="menu">
    <section class="nav-bar">
      <div class="nav-container">
        <div class="brand">
          <a href="/"><img src="/theme/images/offen-logo-circle-only.svg" alt="offen logo" width="42" height="46" class="logo"></a>
        </div>
        <nav>
          <div class="nav-mobile"><a id="nav-toggle" href="#!"><span></span></a></div>
          <ul class="nav-list">
            <li>
              <a href="/deep-dive/">Deep dive</a>
            </li>
            <li>
              <a href="/status/">Status</a>
            </li>
            <li>
              <a href="#">Auditorium</a>
              <ul class="nav-dropdown">
                <li>
                  <a href="/auditorium/operator/">for Operators</a>
                </li>
                <li>
                  <a href="/auditorium/user/">for Users</a>
                </li>
              </ul>
            </li>
            <li>
              <a href="mailto:{{CONTACT_EMAIL}}">Contact</a>
            </li>
            <li>
              <a href="{{GITHUB_ORG}}" target="_blank">Get involved</a>
            </li>
            <li>
              <a href="{{PATREON_URL}}" target="_blank">Support Us</a>
            </li>
          </ul>
        </nav>
      </div>
    </section>
  </div>

  {% if page.href == "/" %}
    <div class="intro">
      <div class="container-reader">
        <a href="/" title="offen home page" alt="offen home page">
          <img src="/theme/images/offen-logo-letters-only-white.svg" alt="offen logo" width="172" height="76">
        </a>
        <h1>
          is a free and open source analytics software for websites and web applications that allows respectful handling of data.
        </h1>
        <div class="btn-wrapper">
        <a class="btn btn-color-black" href="{{GITHUB_ORG}}" target="_blank">Get involved</a>
        </div>
      </div>
    </div>
    <div class="feature">
      <div class="container-full">
        FEATURE
      </div>
    </div>
    <div class="cta-top">
      <div class="container-full">
        CTA TOP
        <div class="btn-wrapper">
        <a class="btn btn-color-yellow-black" href="/status/">Status</a>
        </div>
      </div>
    </div>
  {% endif %}

  {% if page.href == "/" %}
    <div class="content-index">
  {% else %}
    <div class="content">
  {% endif %}
  {% if page.href == "/auditorium/operator/" or page.href == "/auditorium/user/" %}
      <div class="container-full">
  {% else %}
      <div class="container-reader">
  {% endif %}
      {% block content %}{% endblock %}
      </div>
  </div>

  <div class="cta-bottom">
    <div class="container-full">
      CTA BOTTOM
    </div>
  </div>
  <div class="footer">
    <div class="container-full">
      <a href="/" title="offen home page" alt="offen home page">
        <img src="/theme/images/offen-logo-letters-only-grey.svg" alt="offen logo" width="86" height="38">
      </a>
   </div>
  </div>

  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script  src="/theme/scripts/functions.js"></script>

</body>
</html>
