{% extends "base.html" %}

{% block title %}
  {{ page.title }}
{% endblock %}

{% block content %}
  <section>
    {% block before_content %}
      <h1>
        <strong>offen</strong> is a free and open source analytics software for websites and web applications that allows respectful handling of data.
      </h1>
    {% endblock %}
    {% block page_content %}
      {{ page.content }}
    {% endblock %}
    {% block after_content %}
      <nav class="navigation-wrapper">
        <div class="button-wrapper btn-fill-space">
          {% if page.href != "/deep-dive/" %}
            <a class="btn btn-color-grey" href="/deep-dive/">
              Deep dive
            </a>
          {% endif %}
          {% if page.href != "/" %}
            <a class="btn btn-color-grey" href="/">
              Summary
            </a>
          {% endif %}
          {% if page.href != "/status/" %}
            <a class="btn btn-color-grey" href="/status/">
              Status
            </a>
          {% endif %}
          <a class="btn btn-color-orange" href="mailto:{{CONTACT_EMAIL}}">
            Contact
          </a>
        </div>
        <div class="button-wrapper btn-fill-space">
          <a class="btn btn-color-orange" href="{{GITHUB_ORG}}" target="_blank">
            Get involved
          </a>
          <a class="btn btn-color-orange" href="{{PATREON_URL}}" target="_blank">
            Support us
          </a>
        </div>
      </nav>
    {% endblock %}
  </section>
{% endblock %}
