<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8'/>
    <title>Temp</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel='stylesheet' href='/theme/styles/index.css'/>
  </head>
  <body>

    <div class='menu'>
      <div class='desktop_width'>
        MENU
      </div>
    </div>
    <div class='intro'>
      <div class='desktop_width'>
        INTRO
      </div>
    </div>

    <div class='page'>
      <div class='content'>
        CONTENT
      </div>
      <div class='feature-1'>
        FEATURE-1
      </div>
      <div class='feature-2'>
        FEATURE-2
      </div>
      <div class='feature-3'>
        FEATURE-3
      </div>
      <div class='feature-4'>
        FEATURE-4
      </div>
    </div>

    <div class='footer'>
      <div class='desktop_width'>
       FOOTER
      </div>
    </div>

  </body>
</html>
