{% extends 'admin/base.html' %}

{% block head_css %}
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/3.3.5/flatly/bootstrap.min.css" rel="stylesheet">
    <link href="{{ admin_static.url(filename='admin/css/bootstrap3/admin.css', v='1.1.1') }}" rel="stylesheet">
    <link href="{{ admin_static.url(filename='admin/css/bootstrap3/submenu.css') }}" rel="stylesheet">
    {% if admin_view.extra_css %}
      {% for css_url in admin_view.extra_css %}
        <link href="{{ css_url }}" rel="stylesheet">
      {% endfor %}
    {% endif %}
    <style>
    body {
        padding-top: 4px;
    }
    </style>
{% endblock %}
