/**
 * Copyright 2020-2021 - Offen Authors <hioffen@posteo.de>
 * SPDX-License-Identifier: Apache-2.0
 */

@import url('node_modules/normalize.css/normalize.css');

body {
  border-radius: 3px;
  line-height: 1.15;
  margin: 0;
  padding: 0;
}

.banner__host {
  background-color: #fffdf4;
  border: 1px solid #8a8a8a;
  font-family: roboto, sans-serif;
  padding: 1em;
}

@media all and (max-width: 389px) {
  body {
    font-size: .75em;
  }
}

.banner__paragraph {
  margin: 0 0 1em 0;
  text-align: center;
}

.banner__paragraph--first {
  margin-bottom: 0.5em;
}

.paragraph__anchor {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

.banner__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.buttons__button {
  -webkit-appearance: button;
  background-color: #555;
  border: 0;
  color: white;
  cursor: pointer;
  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 0;
  -webkit-transition: opacity .15s ease-out;
  transition: opacity .15s ease-out;
  width: 50%;
}

.buttons__button:hover {
  opacity: 0.5;
}

.buttons__button--first {
  margin-right: 0.25em;
}

.buttons__button--last {
  margin-left: 0.25em;
}
