/* Hide checkbox */
input[type='checkbox'] {
  display: none;
}

/* Style toggle button ----------------------------- */
.lbl-toggle {
  display: block;
  padding: 15px 25px 0 0;
  color: #777;
  cursor: pointer;
  text-align: right;
  /* transition: all 0.25s ease-out; */
}
.lbl-toggle:hover {
  color: #aaa;
}

/* Arrow */
.lbl-toggle::after {
  content: ' ';
  display: inline-block;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  /* Buildin variable */
  border-left: 8px solid currentColor;
  vertical-align: middle;
  transform: rotate(-90deg) translateX(0);
  /* transition: transform .2s ease-out; */
}

/* Collapsing ----------------------------- */
/* Hide */
.lbl-toggle {
  margin-top: 208px;
}
.collaps-content {
  max-height: 35px;
  margin-top: -18px;
  overflow: hidden;
  /* transition: max-height .25s ease-in-out; */
}
#toggle-link {
  display: inline;
}
#toggle-text {
  display: none;
}

/* Show */
.toggle:checked + .lbl-toggle {
  margin-top: 0;
}
.toggle:checked + .lbl-toggle + .collaps-content {
  max-height: 300px;
  margin-top: -18px;
}
.toggle:checked + .lbl-toggle + .collaps-content #toggle-link {
  display: none;
}
.toggle:checked + .lbl-toggle + .collaps-content #toggle-text {
  display: block;
}

/* Rotate arrow */
.toggle:checked + .lbl-toggle::after {
  transform: rotate(90deg) translateX(-3px);
}





