  Copyright 2020 - Offen Authors <hioffen@posteo.de>
  SPDX-License-Identifier: Apache-2.0

{{ define "subject_reset_password" }}
{{ __ "Reset your password" }}
{{ end }}

{{ define "body_reset_password" }}
{{ __ "Hi!" }}

{{ __ "You have requested to reset your password. To do so, visit the following link:" }}

{{ .url }}

{{ __ "The link is valid for 24 hours after this email has been sent. In case you have missed this deadline, you can always request a new link." }}
{{ end }}

{{ define "subject_new_user_invite" }}
{{ __ "You have been invited to join Offen" }}
{{ end }}

{{ define "body_new_user_invite" }}
{{ __ "Hi!" }}

{{ __ "You have been invited to Offen. To accept your invite, visit the following link:" }}

{{ .url }}

{{ __ "The link is valid for 7 days after this email has been sent. In case you have missed this deadline, request a new invite." }}
{{ end }}

{{ define "subject_existing_user_invite" }}
{{ __ "You have been added to additional accounts on Offen" }}
{{ end }}

{{ define "body_existing_user_invite" }}
{{ __ "Hi!" }}

{{ __ "You have been added to the following new accounts on Offen:" }}

{{ range .accountNames }}
- {{ . }}
{{ end }}

{{ __ "You automatically gain access to these accounts the next time you log in." }}
{{ end }}
